/* MOBILE */
@keyframes floatDough {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes floatEat {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

article {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  text-align: justify;
  width: 90%;
  margin-left: 5%;

  #dough {
    width: 100%;
    margin-bottom: 2vh;
    margin-top: 2vh;
    animation: 2s ease-out 0s 1 floatDough;
    border-radius: 5%;
  }

  #eat {
    width: 100%;
    margin-bottom: 1vh;
    animation: 2s ease-out 0s 1 floatEat;
    border-radius: 5%;
  }
}

h3 {
  font-family: $primaryFont;
  color: black;
  text-align: center;
  text-decoration: underline;
  margin-top: 4vh;
}

#photo-grid {
  display: grid;
  grid-template-columns: 2fr;
  align-items: center;
  justify-items: center;
  row-gap: 20px;
  margin: 2vh;

  #photo-in-grid {
    width: 100%;
    border-radius: 5%;
    margin-bottom: 2vh;
  }
}

#google {
  iframe {
    width: 90%;
    margin-left: 5%;
    margin-top: 4vh;
  }
}

#hours {
  width: 90%;
  margin-left: 5%;


    h2, h3 {
      font-family: $primaryFont;
      color: $containerColorDark;
      text-align: center;
      margin: 1vh;
    }

    li {
      margin: 2vh;
    }
}





/* TABLET */
@media only screen and (min-width: 600px) {

  p {
    font-size: large;
  }
  article {
    display: grid;
    grid-template-columns: 2fr;
    align-items: center;
    justify-items: center;

    #about-content {
    margin-bottom: 2vh;
    }

    #dough {
      width: 100%;
      margin-bottom: 2vh;
      animation: 2s ease-out 0s 1 floatDough;
      border-radius: 5%;
    }
  
    #eat {
      width: 100%;
      margin-bottom: 2vh;
      animation: 2s ease-out 0s 1 floatEat;
      border-radius: 5%;
    }
  }

  #photo-grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    justify-items: center;
    column-gap: 20px;
    margin: 3vh;
  }
}


/* DESKTOP */
@media only screen and (min-width: 900px) {

  h3 {
    margin: 0;
  }

  .pizza-menu-title {
    margin: 1vh;
  }

  article {
    display: grid;
    grid-template-columns: 2fr;
    align-items: center;
    justify-items: center;
    width: 90%;
    margin-left: 5%;

    #about-content {
    margin-bottom: 2vh;
    }

    #dough {
      width: 100%;
      margin-bottom: 2vh;
      animation: 2s ease-out 0s 1 floatDough;
      border-radius: 5%;
    }
  
    #eat {
      width: 100%;
      margin-bottom: 2vh;
      animation: 2s ease-out 0s 1 floatEat;
      border-radius: 5%;
    }
  }

  #photo-grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    justify-items: center;
    column-gap: 20px;
    margin: 3vh;
  }

}