/* MOBILE */

#about-container {
  margin-bottom: 5vh;
}

article {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  text-align: justify;
  width: 75%;
  margin-left: 12.5%;
}

h3 {
  font-family: $primaryFont;
  color: black;
  text-align: center;
  text-decoration: underline;
}

#photos {
  display: grid;
  grid-template-columns: 2fr;
  align-items: center;
  justify-items: center;
  row-gap: 20px;
  margin: 2vh;

  .display-to-none {
    display: none;
  }

  #photo-in-grid {
    width: 100%;
    border-radius: 5%;
    margin-bottom: 2vh;
  }
}

#google {
  iframe {
    width: 75%;
    margin-left: 12.5%;
    margin-top: 2vh;
  }
}

#hours {
  width: 90%;
  margin-left: 5%;
  margin-top: 5vh;


    h2, h3 {
      font-family: $primaryFont;
      color: $containerColorDark;
      text-align: center;
      margin: 1vh;
    }

    li {
      margin: 2vh;
    }
}



/* TABLET */
@media only screen and (min-width: 600px) {
  .pizza-menu-title {
    margin: 0;
  }

  #about-container {
    margin-bottom: 5vh;
  }

  article {
    width: 75%;
    margin-left: 12.5%;

    #about-content {
    margin-top: 1vh;
    }
  }

  #photos {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    align-items: center;
    justify-items: center;
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    column-gap: 5px;
    
    .display-to-none {
      display: block;
    }
  
    #photo-in-grid {
      width: 75%;
      border-radius: 5%;
    }
  }
}



/* DESKTOP */
@media only screen and (min-width: 900px) {

  h3 {
    margin: 0;
  }

  #about-container {
    margin-bottom: 5vh;
  }

  article {
    width: 75%;
    margin-left: 12.5%;

    #about-content {
    margin-top: 1vh;
    }
  }

  #photos {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    align-items: center;
    justify-items: center;
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    column-gap: 5px;
    
  
    #photo-in-grid {
      width: 75%;
      border-radius: 5%;
    }
  }
}