
/* MOBILE */
h3 {
  margin: 3vh;
}
.pizza-menu-title {
  text-decoration: underline;
  color: black;
  padding: 20px;
  margin: 5vw;
  text-align: center;
  line-height: 2rem;
  border-radius: 5%;
  font-family: $secondaryFont;    
}

#pizza-menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-items: center;
  justify-items: center;
  width: 100%;
  row-gap: 30px;
  margin-left: 0;

  .pizza {
    position: relative;
    box-shadow: $containerBoxShadow;
    border: #47000c 1px solid;
    padding: 1em;
    text-align: center;
    overflow-wrap: break-word;
    align-items: center;

    #call-btn {
      background-color: $containerColorDark;
      box-shadow: $containerBoxShadow;
      padding: 10px;
      font-size: 14px;
      margin-bottom: 50px;
      border-radius: 10%;
      color: white;
    }
  }

  #pizza-item {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    padding: 10px;
    border: 5px solid #FBFFFE;
  }

  .pizza:hover {
    cursor: pointer;
    transition: box-shadow 0.25s ease-in-out;
  }

  .pizza:hover > #pizza-description {
    opacity: 1;
    box-shadow: $containerBoxShadow;
    top: 15vh;
    text-align: center;
    transition: all 0.25s ease-in-out;
  }

  #pizza-description {
    opacity: 0;
    padding: 15px;
    z-index: 2;
    background-color: $containerColorDark;
    box-shadow: $containerBoxShadow;
    border-radius: 5%;
    color: white;
    position: absolute;
  }
}


/* TABLET */
@media only screen and (min-width: 600px) {
  
  .pizza-menu-title {
  text-decoration: underline;
  color: black;
  text-align: center;
  line-height: 2rem;
  border-radius: 5%;
  font-family: $secondaryFont; 
  font-size: large;
  }

  #pizza-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    align-items: center;
    justify-items: center;
    width: 100%;
    margin-left: 0;
    row-gap: 5vh;
  
    .pizza {
      position: relative;
      box-shadow: $containerBoxShadow;
      border: #47000c 1px solid;
      padding: 1em;
      text-align: center;
      overflow-wrap: break-word;
      align-items: center;
  
      #call-btn {
        background-color: $containerColorDark;
        padding: 10px;
        font-size: 14px;
        margin-bottom: 50px;
        border-radius: 10%;
        color: white;
      }
    }
  
    #pizza-item {
      width: 15rem;
      height: 15rem;
      object-fit: cover;
      padding: 10px;
      border: 5px solid #FBFFFE;
    }
  }
}





/* DESKTOP */
@media only screen and (min-width: 900px) {
  h3 {
    margin: 3vh;
  }
}