$primaryFont: 'Prata', serif;
$secondaryFont: 'Almarai', sans-serif;
$navButtonColor: #96031A;
$navButtonCBoxShadow: 2px 4px #FAA916;
$containerBoxShadow: 2px 0px 5px #1B1B1E;
$containerColorOrange: #FAA916;
$containerColorDark: #96031A;