$primaryFont: 'Prata', serif;
$secondaryFont: 'Almarai', sans-serif;
$navButtonColor: #CD0000;
$navButtonCBoxShadow: 2px 4px #CD0000;
$containerBoxShadow: 2px 0px 6px #1B1B1E;
$containerColorOrange: #CD0000;
$containerColorDark: #CD0000;