$primaryFont: 'Prata', serif;
$secondaryFont: 'Almarai', sans-serif;
$navButtonColor: #CD0000;
$navButtonCBoxShadow: 2px 4px #660000;
$FooterColor: #570707;
$containerBoxShadow: 2px 0px 6px #1B1B1E;
$containerColorDark: #CD0000;
$lightBoxShadow: 1px 0px 3px #969696;