@import 'variables';


* {
  margin: 0;
  padding: 0;
}

/* MOBILE */

body {
  background-color: #F7F3E3;
  font-family: $secondaryFont;
  color: black;
}


a:link {
  color: black;
  font-size: small;
  font-family: $secondaryFont;
  text-decoration: none;
}

a:active {
  color: #FAA916;
  text-decoration: none;
}

a:visited {
  color: black;
}

li {
  list-style: none;
  text-align: center;
}


.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 100%;
  height: 2vh;
  align-items: center;
  justify-items: center;
  font-family: $secondaryFont;
  font-weight: 300;

    #nav-button {
      background-color: $containerColorOrange;
      box-shadow: 2px 3px #96031A;
      border-radius: 2px;
      padding: 5px;
      margin: 0.75vh;
      width: 25%;
      text-align: center;
    }

    span {
      height: 2vh;
    }
}


.logo-photo {
  margin: 1vh;
  text-align: center;
}
#logo-photo {
  width: 125px;
}


.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 90%;
  margin-left: 5%;
  align-items: center;
  justify-items: center;
  position: relative;
  margin-top: 25vh;
  background-color: $containerColorDark;
  box-shadow: $containerBoxShadow;

    #main-best {
      background-color: $containerColorOrange;
      width: 75%;
      box-shadow: $containerBoxShadow;
      margin: 25px;
    }

    #main-best > h1 {
      font-family: $primaryFont;
      color: black;
      font-size: xx-large;
      text-align: center;
      padding: 10px;
      border-radius: 5%;
    }

    #main-video > iframe {
      width: 100%;
      padding-top: 25px;
    }

    #main-menu-btn {
      background-color: $containerColorOrange;
      padding: 5px;
      border-radius: 5%;
      margin: 20px;
      box-shadow: $containerBoxShadow;
      color: black;
      width: 50%;
      text-align: center;
    }
    
}


.specials-container {
  position: relative;;
  margin-top: 10vh;
  align-items: center;
  justify-items: center;

    #gourmet-pizza {
      width: 90%;
      margin-left: 5%;
      opacity: 0.9;
    }

    #specials-title {
      background-color: $containerColorOrange;
      box-shadow: $containerBoxShadow;
      margin: 30px;
      padding: 10px;
      text-align: center;
      line-height: 2rem;
    }

    #specials-menu {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
      margin: 15px;
      background: $containerColorDark;
      box-shadow: $containerBoxShadow;
      align-items: center;
      justify-items: center;
      text-align: center;

      h3 {
        background-color: $containerColorOrange;
        box-shadow: $containerBoxShadow;
        margin: 10px;
        border-radius: 5%;
      }
        
      #item {
        width: 15rem;
        height: 15rem;
        object-fit: cover;
        box-shadow: $containerBoxShadow;
        border: 5px solid #FBFFFE;
        margin-bottom: 5px;
      }

      #call-btn {
        background-color: $containerColorOrange;
        box-shadow: $containerBoxShadow;
        padding: 5px;
        font-size: 14px;
        margin-bottom: 40px;
        border-radius: 5%;
      }

      #specials-menu-btn {
        background-color: $containerColorOrange;
        padding: 5px;
        border-radius: 5%;
        box-shadow: $containerBoxShadow;
        color: black;
        text-align: center;
        margin: 20px;
        align-items: center;
        justify-items: center;
        width: 50%;
      } 
    }
}

.bottom-container {
  background-color: $containerColorDark;
  margin-top: 40px;
  width: 90%;
  margin-left: 5%;
  

    #footer {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      align-items: center;
      justify-items: center;
      padding: 15px;
      row-gap: 5px;
  }
}


/* TABLET */

@media only screen and (min-width: 600px) {

}





/* DESKTOP */

@media only screen and (min-width: 900px) {

}