@import 'variables';
@import 'home-content';
@import 'menu-content';
@import 'catering-content';




* {
  margin: 0;
  padding: 0;
}

/* MOBILE */

body {
  background-color: white;
  font-family: $secondaryFont;
  color: black;
}


a:link {
  color: white;
  font-size: small;
  font-family: $secondaryFont;
  text-decoration: none;
}

a:active {
  color: white;
  text-decoration: none;
}

a:visited {
  color: lightgray;
}

a:hover {
  font-weight: bold;
}

li {
  list-style: none;
  text-align: center;
}

#menu-desktop {
  display: none;
}

#menu-mobile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  width: 100%;
  align-items: center;
  justify-items: center;
  min-height: 10vh;

    #mobile-hamburger-menu {

      #mobile-menu-checkbox {
        width: 50px;
        height: 50px;
        position: absolute;
        opacity: 0;
        z-index: 6;
      }

      #mobile-menu-checkbox:checked ~ #mobile-menu {
        top: 0;
        opacity: 1;
        transition: all 0.5s ease-in-out;
      }

      #mobile-hamburger-container {
        display: grid;
        justify-items: center;
        align-items: center;
        width: 50px;
        height: 50px;
        z-index: 5;
        position: relative;
        
  
        .mobile-hamburger-line {
          width: 30px;
          height: 4px;
          background-color: black;
        }
      }

      #mobile-menu {
        position: absolute;
        width: 100%;
        background-color: $containerColorDark;
        font-family: $secondaryFont;
        color: white;
        display: grid;
        justify-self: center;
        align-items: center;
        text-align: center;
        top: -15vh;
        opacity: 0;
        left: 0;
        min-height: 15vh;
        transition: all 0.5s ease-in-out;

        a {
          color: white;
          text-decoration: none;
          font-weight: 500;
        }
      }
    }


    span {
      height: 2vh;
    }
}


#logo-photo {
  text-align: center;
  width: 100%;
}


/* TABLET */

@media only screen and (min-width: 600px) {

  #logo-photo {
    text-align: center;
    margin-top: 0.25vh;
    width: 150px;
  }
  
  #menu-mobile {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    width: 100%;
    align-items: center;
    justify-items: center;
    min-height: 10vh;
  
      #mobile-hamburger-menu {
  
        #mobile-menu-checkbox {
          width: 50px;
          height: 50px;
          position: absolute;
          opacity: 0;
          z-index: 6;
        }
  
        #mobile-menu-checkbox:checked ~ #mobile-menu {
          top: 0;
          opacity: 1;
          transition: all 0.5s ease-in-out;
        }
  
        #mobile-hamburger-container {
          display: grid;
          justify-items: center;
          align-items: center;
          width: 50px;
          height: 50px;
          z-index: 5;
          position: relative;
          
    
          .mobile-hamburger-line {
            width: 30px;
            height: 4px;
            background-color: black;
          }
        }
  
        #mobile-menu {
          position: absolute;
          width: 100%;
          background-color: $containerColorDark;
          font-family: $secondaryFont;
          color: white;
          font-size: large;
          display: grid;
          justify-self: center;
          align-items: center;
          text-align: center;
          top: -15vh;
          opacity: 0;
          left: 0;
          min-height: 15vh;
          transition: all 0.5s ease-in-out;
  
          a {
            color: white;
            text-decoration: none;
            font-weight: 500;
          }
        }
      }
  }
}

/* DESKTOP */

@media only screen and (min-width: 900px) {

  @keyframes buttonAnimation {
    0% {
      width: 5vw;
    }
    50% {
      width: 8vw;
    }
    100% {
      width: 9vw;
    }
  }

  #menu-mobile {
    display: none;
  }

  #menu-desktop {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 90%;
    margin-left: 5%;

    #menu-btn {
    background-color: $containerColorDark;
    font-family: $secondaryFont;
    box-shadow: $navButtonCBoxShadow;
    color: white;
    padding: 10px;
    border-radius: 10%;
    width: 50%;
    text-align: center;
    }

    span {
      color: #A41212;
      position: relative;
      font-family: "Prata", serif;
      font-size: 14px;
    }
  }

  #menu-desktop > a:hover  {
    animation-name: buttonAnimation;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.80, -0.55, 0.265, 1.25);
    font-weight: bold;
  }
} 