@import 'variables';


* {
  margin: 0;
  padding: 0;
}

/* MOBILE */

/* INDEX.HTML */

@keyframes floatText {
  0% {
    height:0px;
  }
  25% {
    height:10px;
  }
  50% {
    height:30px;
  }
  75% {
    height: 45px;
  }
}

body {
  background-color: white;
  font-family: $secondaryFont;
  color: black;
}


a:link {
  color: black;
  font-size: small;
  font-family: $secondaryFont;
  text-decoration: none;
}

a:active {
  color: #273E47;
  text-decoration: none;
}

a:visited {
  color: #273E47;
}

a:hover {
  font-size: 1.2em;
}

li {
  list-style: none;
  text-align: center;
}


.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  align-items: center;
  justify-items: center;
  font-family: $secondaryFont;
  font-weight: 400;

    #nav-button {
      background-color: $containerColorDark;
      box-shadow: $containerBoxShadow;
      border-radius: 10%;
      padding: 5px;
      margin: 0.75vh;
      width: 25%;
      text-align: center;
    }

    span {
      height: 2vh;
    }
}


#logo-photo {
  text-align: center;
  margin-top: 0.25vh;
  width: 125px;
}


.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 90%;
  margin-left: 5%;
  align-items: center;
  justify-items: center;
  position: relative;
  margin-top: 5vh;

    #main-best {
      width: 75%;
      margin: 25px;
      border-radius: 5%;

      #best-pizza {
        font-size: 34px;
        color: #A41212;
        position: relative;
        font-family: $primaryFont;
      }

      #best-pizza:hover {
        animation: floatText 2.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
    }

    #main-best > h1 {
      font-family: $primaryFont;
      color: black;
      font-size: xx-large;
      text-align: center;
    }

    #main-video > iframe {
      width: 100%;
      padding-top: 25px;
    }

    #main-menu-btn {
      background-color: $containerColorDark;
      padding: 5px;
      border-radius: 10%;
      margin: 20px;
      box-shadow: $containerBoxShadow;
      color: black;
      width: 40%;
      margin-left: 2.5%;
      align-items: center;
      justify-items: center;
      text-align: center;
    }
    
}


.specials-container {
  margin-top: 5vh;
  align-items: center;
  justify-items: center;

    #gourmet-pizza {
      width: 90%;
      margin-left: 5%;
      opacity: 0.9;
      border-radius: 5%;
    }

    #specials-title {
      background-color: $containerColorDark;
      box-shadow: $containerBoxShadow;
      margin: 25px;
      text-align: center;
      line-height: 2rem;
      border-radius: 5%;
      color: black;
      font-family: $secondaryFont;
    }

    #specials-menu {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
      align-items: center;
      justify-items: center;
      text-align: center;
      width: 90%;
      margin-left: 5%;
      row-gap: 40px;
      position: relative;

      .pizza {
        position: relative;
      }

      .pizza:hover {
        cursor: pointer;
        transition: box-shadow 0.25s ease-in-out;
      }
    
      .pizza:hover > #pizza-description {
        opacity: 1;
        box-shadow: $containerBoxShadow;
        top: 15vh;
        text-align: center;
        transition: all 0.25s ease-in-out;
      }

      #pizza-description {
        opacity: 0;
        padding: 15px;
        z-index: 2;
        background-color: $containerColorDark;
        box-shadow: $containerBoxShadow;
        border-radius: 5%;
        color: black;
        position: absolute;
      }

      h3 {
        margin: 10px;
        padding: 5px;
      }
        
      #item {
        width: 15rem;
        height: 15rem;
        object-fit: cover;
        box-shadow: $containerBoxShadow;
        border: 5px solid #FBFFFE;
      }

      #call-btn {
        background-color: $containerColorDark;
        box-shadow: $containerBoxShadow;
        padding: 10px;
        font-size: 14px;
        margin-bottom: 50px;
        border-radius: 10%;
      }
    }

    #gourmet-pizza-two {
      width: 90%;
      opacity: 0.9;
      margin-left: 5%;
      margin-top: 25px;
      border-radius: 5%;
    }
}

#specials-menu-btn {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  border-radius: 5%;
  color: black;
  align-items: center;
  justify-items: center;
  width: 100%;
  object-fit: cover;
  margin-top: 20vh;

  #bottom-menu-btn {
    background-color: $navButtonColor;
    padding: 10px;
    border-radius: 10%;
    box-shadow: $containerBoxShadow;
    color: black;
    width: 50%;
    text-align: center;
  }
} 

.bottom-container {
  background-color: $containerColorDark;
  margin-top: 25px;
  width: 90%;
  margin-left: 5%;
  

    #footer {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      align-items: center;
      justify-items: center;
      padding: 15px;
      row-gap: 5px;
      border-radius: 10%;
    }

    #copyright {
      text-align: center;
      padding: 10px;
    }
}

/* MENU.HTML */















/* TABLET */

@media only screen and (min-width: 600px) {

  @keyframes floatText {
    0% {
      height:0px;
    }
    25% {
      height:10px;
    }
    50% {
      height:30px;
    }
    75% {
      height: 45px;
    }
  }

  * {
    margin: 0;
    padding: 0;
  }

  .menu {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    margin: 0.25vh;
  }

  #nav-button {
    background-color: $containerColorDark;
    box-shadow: 2px 3px #96031A;
    border-radius: 2px;
    padding: 10px;
    width: 100%;
    text-align: center;
  }

  .main-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    margin-left: 5%;
    align-items: center;
    justify-items: center;
    position: relative;
    text-align: center;
    margin-top: 5vh;
  

    .main-container #main-menu-btn {
      margin-top: 5vh;
      padding: 10px;
    }


    #main-best {
      margin: 25px;
      padding: 10px;

    #main-best > h1 {
      font-family: $primaryFont;
      color: black;
      font-size: xx-large;
      text-align: center;
      display: inline-block;
    }

    #best-pizza {
      color: #A41212;
      position: relative;
      font-family: $primaryFont;
    }

    #best-pizza:hover {
      animation: floatText 2.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }

  #main-video > iframe {
    width: 100%;
  }
}


  .specials-container {

    #specials-title {
      margin-left: 5%;
      width: 90%;
    }

    #gourmet-pizza {
      width: 90%;
      margin-left: 5%;
    }

    #specials-menu {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      align-items: center;
      justify-items: center;
      width: 100%;
      margin-left: 0;
    }
  
    #specials-menu-btn {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-items: center;

      #bottom-menu-btn {
        position: relative;
        width: 50%;
        text-align: center;
      }
    }

    #gourmet-pizza-two {
      margin-top: 7vh;
      width: 90%;
      margin-right: 5%;
    }
  }

  #phone-num {
    display: none;
  }
}


/* DESKTOP */

@media only screen and (min-width: 900px) {} 